// Color variables
$primary-color: #333333; // Dark Gray
$secondary-color: #4caf50; // Green
$tertiary-color: #ffc107; // Amber
$accent-color-1: #ff5722; // Deep Orange
$accent-color-2: #03a9f4; // Light Blue
$background-color: #fafafa; // Light Gray
$text-color: #212121; // Almost Black
$sparks-pink: #fa2991;
$plaster: #f5f5f5;
// Typography
$font-family: 'Rubik', sans-serif;
$line-height: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;
$primary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
