// Color variables
$primary-color: #333333; // Dark Gray
$secondary-color: #4caf50; // Green
$tertiary-color: #ffc107; // Amber
$accent-color-1: #ff5722; // Deep Orange
$accent-color-2: #03a9f4; // Light Blue
$background-color: #fafafa; // Light Gray
$text-color: #212121; // Almost Black

// Typography
$font-family: 'Rubik', sans-serif;
$line-height: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4rem;
}
